<!DOCTYPE html>
<html>
<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>My Wallet</title>


	<link rel="icon" href="/site_icon.jpg">
	<link rel="stylesheet" type="text/css" href="/css/fontawesome/css/all.css">

	<link rel="stylesheet" type="text/css" href="/css/purchase.css">


	<style type="text/css">

		@media screen and (min-width: 0){


			main{
				margin-top: 70px;
			}
			
			.profile_pic{
				width: 100px;
				height: 100px;
				margin: auto;
				font-size: 7rem;
				text-align: center;
				color: rgb(240, 240, 240);
			}

			article{
				margin: 0 0 0px 5%;
				width: 90%;
			}

			h2{
				color: rgb(240, 240, 240);
				font-size: 2.5rem;
				margin-bottom: 30px;
				text-align: center;
				margin-bottom: 50px;
			}

			article > p{
				margin-top: 10px;
				font-size: 1.4rem;
			}

			article > p > span{
				font-size: 1.5rem;
				font-weight: 600;
				color: rgb(200, 200, 200);

			}

			article > .withdraw_reward{
				display: block;
				width: 180px;
				background-color: rgb(190, 190, 190);
				padding: 15px 20px;
				border-radius: 5px;
				margin: 50px auto;
				font-size: 1.4rem;
				text-align: center;
				color: rgb(0, 50, 20);
			}

		}


	</style>
		
</head>







<body data-user="<%=data.isUser%>" data-purchase="<%=data.purchase%>">

	<div class="body_overlay"></div>
	<%-include("./partialTemplate/purchase_header.ejs")%>


	<main role="main">
		
		<div class="profile_pic"><i class="fas fa-wallet"></i></div>

		<article>
			<h2>My Wallet</h2>
			<p><span>Wallet Balance: </span> ₦0 </p>
			<p><span>Referral Reward: </span> ₦<%=data.reward%></p>
			<p><span>Phone Number: </span> <%=data.email%></p>
			<br><br>
			<p style="word-break: break-all;"><span style="display: block; margin-bottom: 5px;">Your Referral Link: </span>https://alti-data.herokuapp.com/home/<%=data._id%></p>
			<br>
			<p style="color: rgb(20, 240, 150);">Copy your referral link and send to your friends on social media, you will be rewarded with ₦350 for each person that registered through your link, and you will also be rewarded with ₦500 when they make their first data purchase.</p>
			<a href="/withdraw" class="withdraw_reward">Withdraw Reward</a>
			<br><br>
		</article>


	</main>



	<script type="text/javascript">

		if(document.querySelector("body").dataset.purchase === "true"){
			document.querySelector(".account_bonus").style.display = "none";
		}

	</script>



</body>
</html>