<!DOCTYPE html>
<html>
<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Refer and Earn</title>


	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">



	<link rel="icon" href="/site_icon.jpg">

	<link rel="stylesheet" type="text/css" href="/css/purchase.css">


	<style type="text/css">

		body{
			background-color: rgb(230, 230, 230);
		}

		@media screen and (min-width: 0){



			


			h1{
				background-color: rgb(0, 25, 50);
				text-align: left;
				font-size: 1.6rem;
				color: rgb(240, 240, 240);
				padding: 15px 0 15px 20px;
				box-sizing: border-box;
				font-weight: 600;
				border: none;
				width: 100%;
				margin: 0;
				border-radius: 0;
			}
			
			

			.profile_pic{
				background-color: white;
				padding: 30px 0 50px 0;
				width: 90%;
				margin-left: 5%;
				margin-top: 15px;
				color: rgb(5, 130, 200);
				text-align: center;
				font-size: 1.9rem;
				border-radius: 15px 15px 0 0;
			}


			.profile_pic i{
				color: green;
				padding: 17px 20px;
				background-color: rgb(235, 235, 250);
				border-radius: 50%;
				font-size: 2.9rem;
			}

			.profile_pic .name{
				color: black;
				margin-top: 10px;
				display: block;
				font-size: 1.3rem;
				font-weight: 400;
			}

			.profile_pic .number{
				color: rgb(160, 160, 160);
				margin-top: 5px;
				display: block;
				font-size: 1.2rem;
			}

			


			h1 .amount{
				color: rgb(0, 180, 100);
				margin-top: 10px;
				display: block;
				font-size: 3rem;
				font-weight: 600;
			}

			article{
				
			}

			
			.data_section{
				display: grid;
				grid-template-columns: 45px 1fr 1.3fr;
				line-height: 1.4;
				background-color: white;
				width: 90%;
				margin-left: 5%;
				padding: 20px;
				border-radius: 0 0 0 0;
				box-sizing: border-box;
				
			}


			.data_section i{
				color: rgb(30, 140, 190);
				font-size: 1.8rem;
				padding: 20px;
				border-bottom: 1px solid rgb(200, 200, 200);
			}



			

			.data_section > p{
				font-size: 1.15rem;
				padding: 20px 5px;
				color: black;
				border-bottom: 1px solid rgb(200, 200, 200);
			}



			p.first_p{
				font-weight: 600;
				color: rgb(10, 10, 10);
				font-weight: 600;
				padding-left: 20px;
			}


			p.second_p{
				text-align: right;
				padding-right: 20px;
			}



			.referral_section{
				background-color: rgb(0, 190, 140);
				padding: 20px 0;
				border-radius: 15px;
				box-sizing: border-box;
				margin: 30px auto;
			}


			h2{
				color: white;
				padding: 15px 0;
				border-radius: 30px;
				background-color: rgb(0, 130, 80);
				font-weight: 800;
				font-size: 2.1rem;
				margin: 20px auto 0 auto;
				text-align: center;
				width: 90%;
			}


			h2 span{
				margin-top: 15px;
				display: block;
				font-size: 4.5rem;
				color: yellow;
			}

			h2 em{
				font-size: 1.8rem;
				display: block;
				font-style: normal;
			}



			h2.second{
				width: 100%;
				border-radius: 0;
				font-size: 1.7rem;
				font-weight: 400;
				margin-top: 20px;
				color: white;
			}


			.fund_button_wrapper{
				padding: 10px 0 20px 0;
				width: 90%;
				margin-left: 5%;
				border-radius: 0 0 15px 15px;
			}




			.copy_button{
				padding: 15px 0;
				background-color: white;
				margin: 50px auto 0 auto;
				width: 70%;
				display: block;
				font-size: 1.4rem;
				display: block;
				border-radius: 10px;
			}

			.copy_button a {
				text-align: center;
				color: darkgreen;
				display: block;
			}

			.copy_button {
				color: gray;
				animation-name: enlarge;
				animation-duration: 500ms;
				animation-timing-function: linear;
				animation-iteration-count: infinite;
				animation-direction: alternate;
				text-align: center;
			}



			@keyframes enlarge{
				0%{	
					transform: scale(1.0, 1.0);
				}

				

				100%{
					transform: scale(1.1, 1.1);
					font-size: 1.6rem;
				}
			}


			.fund_button{
				margin-top: 0;
				background-color: rgb(250, 250, 250);
				color: green;
				border: 1px solid rgb(50, 50, 50);
				
			}


			.or{
				margin-top: 20px;
				text-align: center;
				font-size: 1.7rem;
				font-weight: 600;
				color: black;
				color: rgb(60, 60, 60);
			}


			.link{
				width: 90%;
				font-size: 1.4rem;
				border-radius: 10px;
				word-wrap: break-word;
				margin: 10px 0 0 5%;
				padding: 10px;
				color: white;
				border: 1px solid rgb(0, 200, 0);
				box-sizing: border-box;
			}




			article > .withdraw_reward{
				display: block;
				width: 180px;
				background-color: rgb(190, 190, 190);
				padding: 15px 20px;
				border-radius: 5px;
				margin: 50px auto;
				font-size: 1.4rem;
				text-align: center;
				color: rgb(0, 50, 20);
			}

		}


	</style>
		
</head>








<body data-user="<%=data.isUser%>" data-purchase="<%=data.purchase%>">

	<div class="body_overlay"></div>


	<main role="main">

		<h1>My Wallet</h1>


		


		<div class="profile_pic">
			<i class="fas fa-wallet"></i>

			<p class="name">Hi, <%=data.fullName%> </p>
			<p class="number"><%=data.email%> </p>
		</div>
		
		

		<article>

			<section class="data_section">
				<i class="fas fa-user-alt"></i> <p class="first_p">Full Name:</p> <p class="second_p"><%=data.fullName%></p>
				<i class="fas fa-phone-alt"></i> <p class="first_p">Phone Number:</p> <p class="second_p"><%=data.email%></p>
				<i class="fas fa-wallet"></i> <p class="first_p">Wallet Balance:</p> <p class="second_p">₦<%=data.wallet%></p>
				<i class="fas fa-hand-holding-usd"></i> <p class="first_p">Referral Reward:</p> <p class="second_p">₦<%=data.reward%></p>
				<i class="fas fa-users"></i> <p class="first_p">People Registered:</p> <p class="second_p"><%=data.reward / 350%></p>
			</section>


			<section class="fund_button_wrapper">
				<button class="fund_button" onclick="window.location='/fund_method' ">Fund Wallet</button>
			</section>


			<section class="referral_section" id="referral_section">

				<h2>Refer & Earn <span>₦350</span><em> For each referral</em></h2>

				<form class="link_form">

					<div class="copy_button"><a href="https://api.whatsapp.com/send?text=You need to use this amazing website. They sell data very cheap and they give 10GB welcome bonus to all new users......                       

					*Click the link to register for free* 

					 https://bestdata-5azu0arn.b4a.run/home/<%=data._id%>" data-action="share/whatsapp/share">Share on WhatsApp</a> </div>
				</form>

				<p class="or">Or</p>

				<h2 class="second">Copy Your Link Below</h2>
				<p class="link">https://bestdata-5azu0arn.b4a.run/home/<%=data._id%> </p>
				
			</section>

			<br><br><br>
			
			
			
			
		</article>


	</main>






	<script type="text/javascript">

		

	</script>

</body>
</html>
